@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-900: #0c588a;
  --primary-800: #1678ac;
  --primary-700: #1889c0;
  --primary-600: #219bd3;
  --primary-500: #27a9e1;
  --primary-400: #3db6e4;
  --primary-300: #5ac3e8;
  --primary-200: #85d4ee;
  --primary-100: #b4e5f5;
  --primary-50: #e1f5fb;
  --secondary-900: #006316;
  --secondary-800: #15822a;
  --secondary-700: #239435;
  --secondary-600: #2fa640;
  --secondary-500: #39b54a;
  --secondary-400: #5ac065;
  --secondary-300: #79cc81;
  --secondary-200: #a1daa5;
  --secondary-100: #c6e8c8;
  --secondary-50: #e7f6e9;
  --neutrals-900: #1e1e1e;
  --neutrals-800: #3f3f3f;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #f2f2f2;
}
/* header  */

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.head {
  background-color: white;
}
.sticky {
  background-color: white;
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  display: none;
  font-size: 30px;
  color: #292d32;
  cursor: pointer;
}
.navbar a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 64px;
  color: var(--neutrals-900);
  transition: 0.5s ease;
  display: inline-block;
}
a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.navbar a:hover:after {
  width: 100%;
}
section {
  padding: 10rem 9% 2rem;
}
.header .btn {
  color: white;
  background-color: var(--primary-600);
  padding: 12px 28px;
  border-radius: 12px;
  cursor: pointer;
  /* gap: 10; */
  width: 147px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header .btn a {
  color: white;
}
.header .btn:hover {
  background-color: var(--primary-700);
}
.header .btn:focus {
  background-color: var(--primary-800);
}

/* main section */
.main-content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  margin-top: 56px;
}
.main-content .container {
  width: 80%;
  display: flex;
  align-items: center;
}
.main-content h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 96px;
  color: var(--neutrals-900);
}
.main img {
  width: 314px;
  height: 402px;
  border-radius: 24px;
}
.rounded {
  display: flex;
  justify-content: center;
}
.rounded .circle {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 60px;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* services section */

.service-text {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  margin: 36px 0;
}
.service-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* min-height: 100vh; */
}
.service-card {
  background-color: white;
  width: 524px;
  height: 502px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}
.service-img {
  background-image: url(./assets/Faydaları.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60%;
}
.service-card .service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40%;
  padding: 0 36px;
}
.service-content h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: var(--neutrals-900);
}
.service-content p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--neutrals-800);
}
.service-problem {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 120px;
}
.problem-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.problem-content {
  text-align: center;
}
.problem-content h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 16px;
}
.problem-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutrals-800);
}
.mobile-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 216px;
  /* flex-wrap: wrap; */
}
.mobile-service .mobile-content h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 16px;
}
.mobile-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--neutrals-800);
}
.mobile-img img {
  width: 626px;
  height: 292px;
}
.video-content {
  border: 1px solid red;
  margin: 156px 0;
}

/* about section */

.about {
  display: flex;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 2rem;
}
.about .about-img img {
  width: 632px;
  height: 451px;
  border-radius: 24px;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about-content h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}
.about .about-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 0 0;
  color: var(--neutrals-800);
}

/* last section */

.last-section {
  background-color: var(--primary-900);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}
.last-section .last-up {
  display: flex;
  justify-content: center;
  /* margin-top: 40px; */
}
.up-section {
  width: 90%;
  display: flex;
  margin-top: 40px;
  height: 250px;
  border-bottom: 1px solid white;
}
.form {
  display: flex;
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-box input {
  width: 375px;
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 0.17);
  color: #ffffff;
  border-radius: 8px;
}
input::placeholder {
  color: white;
}
input:hover {
  outline: 1px solid white;
  opacity: 0.5;
}
textarea::placeholder {
  color: white;
}
textarea:hover {
  outline: 1px solid white;
  opacity: 0.5;
}
.checkbox {
  display: flex;
  /* width: 35px; */
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
input[type="radio"] {
  display: none;
}
label {
  position: relative;
  color: white;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px 0;
  display: flex;
  width: 180px;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  line-height: 24px;
}
label:before {
  content: "";
  height: 10px;
  width: 10px;
  border: 3px solid white;
  border-radius: 50%;
  margin: 0 20px;
}
input[type="radio"]:checked + label {
  color: var(--secondary-500);
  border: 2px solid var(--secondary-500);
}
input[type="radio"]:checked + label:before {
  border: 4px solid var(--secondary-500);
}
.message {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.message textarea {
  background-color: rgba(255, 255, 255, 0.17);
  color: #ffffff;
  width: 320px;
  height: 105px;
  border-radius: 8px;
  padding: 16px 28px;
}
textarea::placeholder {
  color: white;
}
.message button {
  background-color: var(--secondary-500);
  padding: 16px 28px;
  border-radius: 8px;
  color: white;
  margin: 16px 0 25px 0;
}
.contact-us {
  margin-left: 16px;
}
.contact-us h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: white;
}
.contact-us p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
.down-section {
  margin-top: 20px;
}
.footer-up {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-services {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.footer-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 8px;
  font-size: 2rem;
  color: black;
  margin-left: 8px;
  transition: 0.5s ease;
}
.footer-text {
  margin-top: 40px;
}
.footer-text p {
  font-weight: 400;
  color: white;
  font-size: 16px;
  line-height: 24px;
}
.contact-icons {
  height: 180px;
}
.contact-icon {
  display: flex;
  align-items: center;
}
.contact-icon:nth-child(2) {
  margin-top: 24px;
}
.contact-icon:nth-child(3) {
  margin-top: 24px;
}
.contact-icon img {
  margin-right: 8px;
}
.contact-icon span {
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}
.mobile-numb {
  display: flex;
  flex-direction: column;
}
.footer-service {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.footer-service h6 {
  color: white;
  margin: 0 0 22px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.footer-service span {
  color: white;
  margin: 0 0 22px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.footer-down {
  display: flex;
  justify-content: center;
}
.footer-icons {
  width: 80%;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .main-content h1{
    font-size: 50px;
  }
  .mobile-service .mobile-content h3{
    font-size: 30px;
  }
  .mobile-content p{
    font-size: 16px;
  }
  .mobile-img img{
    width: 530px;
    height: 262px;
  }
  .about .about-img img{
    width: 510px;
    height: 420px;
  }
  .contact-icon span{
    font-size: 16px;
  }
  .footer-service{
    width: 70%;
  }
  .footer-service span{
    font-size: 16px;
  }
  .footer-up{
    width: 90%;
    /* justify-content: space-evenly; */
  }
  .up-section{
    height: 300px;
  }
  .input-box input{
    width: 300px;
  }
  .checkbox{
    flex-direction: column;
  }
 label{
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 990px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .services {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  .up-section{
    flex-direction: column-reverse;
    height: 450px;
    justify-content: center;
  }
  .contact-us{
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .message{
    width: 100%;
  }
  .message textarea{
    width: 100%;
  }
}
@media (max-width: 768px) {
  section {
    padding-bottom: 3rem;
  }

  #menu-icon {
    display: block;
  }
  .logo img {
    width: 183px;
    height: 32px;
  }
  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    display: none;
  }
  .contact {
    margin: 44px 20px 40px 30px;
  }
  .btn {
    display: none;
  }
  .navbar.active {
    display: flex;
    align-items: start;
    flex-direction: column;
    cursor: pointer;
    padding: 2rem 3%;
    background-color: white;
    border-radius: 0 0 12px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* transition: all linear .5s; */
  }
  .checkbox {
    width: 340px;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
  }
  .navbar a {
    font-size: 2rem;
    margin: 2rem 0;
  }
  nav {
    transition: all linear 1s;
  }
  .main-content {
    background-color: #f2f2f2;
    margin: 0;

  }
  .main-content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;

    border: none;
  }
  .main-content h1 {
    font-size: 36px;
    text-align: center;
    line-height: 54px;
  }
  .main-content img {
    width: 165px;
    height: 213px;
    margin: 48px 0;
  }
  .rounded .circle {
    width: 99px;
    height: 102px;
    margin-top: 60px;
    display: inline-block;
  }
  /* services section */

  .service-cards {
    flex-direction: column;
  }
  .service-text {
    font-size: 24px;
    line-height: 36px;
  }
  .service-card {
    width: 343px;
    height: 345px;
  }
  .service-card .service-content h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .service-card .service-content p {
    font-size: 14px;
    line-height: 21px;
  }
  .service-problem {
    flex-direction: column;
    margin-top: 80px;
  }
  .service-problem .problem-card {
    margin-top: 64px;
  }
  .mobile-service {
    margin-top: 96px;
    flex-direction: column-reverse;
  }
  .mobile-img img {
    width: 338px;
    height: 158px;
  }
  .mobile-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-service .mobile-content h3 {
    font-size: 24px;
    line-height: 36px;
    padding: 16px;
  }
  .mobile-content p {
    font-size: 16px;
    line-height: 21px;
    width: 300px;
  }
  .video-content {
    height: 201px;
    margin: 96px 0;
  }

  /* about section */

  .about {
    flex-direction: column;
    min-height: 40vh;
  }
  .about .about-img img {
    width: 343px;
    height: 245px;
  }
  .about-content {
    text-align: center;
  }
  .about .about-content h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .about .about-content p {
    font-size: 14px;
    line-height: 21px;
    margin: 8px;
  }

  /* last section */
  #register {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .last-section {
    width: 500px;
    display: flex;
    justify-content: center;
  }

  .up-section {
    flex-direction: column-reverse;
    /* align-items: center; */
    text-align: center;
    height: 530px;
  }
  .form {
    flex-direction: column;
  }
  .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .input-box input {
    width: 100%;
  }

  
  .contact-us h3 {
    font-size: 20px;
  }
  .contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-us p {
    font-size: 14px;
    line-height: 21px;
    width: 300px;
    margin: 12px 0;
  }
  input[type="radio"]:checked + label {
    color: var(--secondary-500);
    border: none;
  }
  label {
    border: none;
    font-size: 12px;
  }
  .message{
    margin: 0;
  }
  /* .message textarea {
    width: 340px;
  }
  .message button {
    width: 340px;
  } */

  .footer-services {
    flex-direction: column-reverse;
    margin-top: 20px;
    width: 100%;
  }
  .footer-up {
    flex-direction: column;
    margin-top: 40px;
  }
  .footer-up .img img {
    width: 150px;
  }
  .footer-service span {
    font-size: 16px;
  }
  .contact-icon {
    margin-top: 20px;
  }
  .contact-icon img {
    width: 14px;
    height: 20px;
  }
  .contact-icon span {
    font-size: 16px;
  }
  .footer-icons {
    position: relative;
    top: 40px;
  }
  .footer-icon a:nth-child(1) {
    margin: 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
